.btn {
  margin-right: 5px;
}

form {
  margin-bottom: 10px;
}

.card {
  margin: 10px;
}

.DraftEditor-root, .DraftEditor-root .entity, .DraftEditor-root ::placeholder {
  font-size: 20px;
}

.btn-toolbar {
  margin-bottom: 10px;
}

.variable-list {
  margin-bottom: -5px;
}

.variable-list .btn {
  margin-bottom: 5px;
}
